<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.leefeng.rxjava">

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>

    <!--环信-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!--MOB短信-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />


    <application
        android:name=".BeidaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".LoginActivity">

        </activity>
        <activity
            android:name=".player.PlayerActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/FullScreen">

        </activity>
        <activity
            android:name=".newplay.NewPlayerActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/FullScreen">

        </activity>

        <activity
            android:name=".login.LoginActivity"
            android:configChanges="orientation|screenSize">

        </activity>
        <activity
            android:name=".main.MainActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize">


        </activity>
        <activity android:name=".video.VideoListActivity" />
        <activity android:name=".WelcomeActivity"
            >
            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="BUG_HD_SDK_GENERAL_KEY"
            android:value="b9e98b3e0431d38dd2f72353429afb7b" />
        <meta-data
            android:name="TD_APP_ID"
            android:value="334836D7C79148F2ABE6078B09FF97BC" />
        <meta-data
            android:name="TD_CHANNEL_ID"
            android:value="QQ" />


        <!--环信-->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1189161028178774#beida" />
        <service android:name="com.easemob.chat.EMChatService" />
        <!-- 声明SDK所需的service SDK核心功能-->
        <!--<service-->
        <!--android:name="com.hyphenate.chat.EMChatService"-->
        <!--android:exported="true" />-->
        <!-- 声明SDK所需的receiver -->
        <!--<receiver android:name="com.hyphenate.chat.EMMonitorReceiver">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.PACKAGE_REMOVED" />-->
        <!--<data android:scheme="package" />-->
        <!--</intent-filter>-->
        <!--&lt;!&ndash; 可选filter &ndash;&gt;-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
        <!--<action android:name="android.intent.action.USER_PRESENT" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->
        <service
            android:name=".download.DownLoadService"
            android:priority="1000" />

        <activity android:name=".down.DownActivity" />
        <activity android:name=".down.DownloadingActivity" />
        <activity
            android:name=".down.DownCourseActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/FullScreen" />

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".login.PhoneLoginActivity" />
        <activity android:name=".TextActivity">

        </activity>
        <activity android:name=".singlechat.SingleChatActivity" />

        <!--bugly-->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:theme="@android:style/Theme.Translucent" />

    </application>

</manifest>